/*Header*/

div#head{
	width: 100%;
	height: 55px;
}

#logo{
	height: 32px;
	margin-top: 10px;
	margin-left: 10px;
}

#bar{
	margin-top: 10px;
	margin-right: 10px;
	-moz-box-shadow: 0 0 40px #5adad2;
	box-shadow: 0 0 40px #5adad2;
	text-align: center;
	color: #5adbd3;
	text-shadow: 0 0 1px #ffffff;
	border-color: #9f9faa;
	padding: 5px;
	background-color: #789591;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	display: inline;
	float: right;
}

/*content*/

div#con1{
	width: 100%;
	height: auto;
	padding: 0;
}

img.bg{
	width: 100%;
	height: auto;
}


section#right {
	background-color: #9ebb2f;
	height: 100%;
	float: right;
	display: block;
	margin-top: -5px;
	margin-right: -1px;
	width: 50%;
	z-index: 0;
}

section#left {
	background-color: #797985;
	height: 100%;
	display: inline-block;
	float: left;
	margin-top: -5px;
	margin-left: 1px;
	width: 50%;
}


#btn1 {
	background-color: #687d14;
	z-index: 0;
	border: 5px inset #bdb7b7;
	width: 20px;
	margin: 20px;
	height: 20px;
	padding: 100px;
	display: block;
	position: relative;
	top: 30px;
	right: 30px;
	left: 30px;
	bottom: 30px;
}

#btn2 {
	z-index: 0;
	border: 5px inset #bdb7b7;
	background-color: #b3b1b1;
	width: 20px;
	margin: 20px;
	height: 20px;
	padding: 100px;
	display: block;
	position: relative;
	top: 30px;
	right: 30px;
	left: 30px;
	bottom: 30px;
}

//test

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, "Free Sans";
    }
    
    #main {
        background: #0099cc;
        margin-top: 0;
        padding: 2px 0 4px 0;
        text-align: center;
    }
    
    #main a {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        font-family: Arial;
    }
    
    #main a:hover {
        text-decoration: underline;
    }
    
    #container {
        margin: 0 auto;
        margin-top: 50px;
        width: 800px;
        height: 350px;
        overflow: hidden;
        border: 10px solid #000;
        -webkit-border-radius: .5em;
        -moz-border-radius: .5em;
        border-radius: .5em;
    }
    
    #img_container {
        width: 4000px;
    }
    
    #img_container img {
        position: relative;
        -moz-box-shadow: -5px 0 10px #000;
        -webkit-box-shadow: -5px 0 10px #000;
        box-shadow: -5px 0 10px #000;
        width: 600px;
    }
    
    #img1 { z-index: 0; }
    #img2 { z-index: 1; }
    #img3 { z-index: 2; }



















//Media queries

/*@media only screen and (media feature) {
    CSS-Code;
}

@media not|only mediatype and (media feature) {
    CSS-Code;
}*/

/*#bar{
	margin: 3px 4px 3px 3px;
	-moz-box-shadow: 0 0 40px #4dc112;
	box-shadow: 0 0 40px #4dc112;
	text-align: center;
	color: #c59726;
	text-shadow: 0 0 1px #ffffff;
	border-color: maroon;
	padding: 4px;
	position: static;
	float: right;
}

#img{
	width: 384px;
	margin-right: 150px;
	margin-top: 1px;
	z-index: 1;
}
