#bar{
	margin: 9px;
	-moz-box-shadow: 0 0 40px #4dc112;
	box-shadow: 0 0 40px #4dc112;
	text-align: center;
	color: #c59726;
	text-shadow: 0 0 1px #ffffff;
	border-color: maroon;
	padding: 8px;
	position: static;
	float: right;
}

#img{
	width: 283px;
	margin-right: 150px;
	margin-top: 4px;
	z-index: 1;
	margin-left: 2px;
}

img.back {
	width: 1390px;
	height: 540px;
	position: absolute;
	margin-top: 39px;
	left: 11px;
}

div#right {
	float: right;
}

div#left {
	float: left;
}

img#black {
	width: 695px;
	margin-top: 580px;
	margin-left: -5px;
	position: fixed;
}

img#grass {
	width: 696px;
	margin-top: 580px;
	position: fixed;
	height: 496px;
	right: 22px;
}


//Media queries

/*@media only screen and (media feature) {
    CSS-Code;
}

@media not|only mediatype and (media feature) {
    CSS-Code;
}*/

/*#bar{
	margin: 3px 4px 3px 3px;
	-moz-box-shadow: 0 0 40px #4dc112;
	box-shadow: 0 0 40px #4dc112;
	text-align: center;
	color: #c59726;
	text-shadow: 0 0 1px #ffffff;
	border-color: maroon;
	padding: 4px;
	position: static;
	float: right;
}

#img{
	width: 384px;
	margin-right: 150px;
	margin-top: 1px;
	z-index: 1;
}
